*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    user-select: none;
}
html, body{
    height: 100vh;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #111;
}
.container{
    margin: 420px auto;
    height: auto;
    width: 300px;
}
.container .select{
    margin-bottom: 12px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
i{
    transition: transform linear 0.2s;
}
.options{
    background-color: #fff;
    border-radius: 15px;
    list-style: none;
    padding: 8px;
    opacity: 0;
    display: none;
   
}
.options .search{
    padding: 1rem;
}
.search #search-input{
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: 1px solid #dadada;
}
.menu{
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 7px;

}
.container-active .options {
    opacity: 1;
    display: block;
}
.container-active i{
    transform: rotate(-180deg);
}
.menu p{
    padding: 1rem;
    color: red;
}
.menu li{
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;
}
.menu .active, .menu li:hover{
    background-color: #dadada;
}

.menu::-webkit-scrollbar{
    width: 7px;
}
.menu::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 25px;
}
.menu::-webkit-scrollbar-thumb{
    background-color: #ccc; 
    border-radius: 25px;
}
.menu::-webkit-scrollbar-thumb:hover{
    background-color: #b3b3b3b3;
}
